{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>List of Groups</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/groups_style.css' %}">
{% endblock %}

{% block content %}
    <h1>List of Groups</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for group in object_list %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td>
                <a href="{% url 'users:edit-group' %}"><button>Edit</button></a>
                <button class="delete-button">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Group Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Add Group</button>
            </div>
        </form>
    </div>
{% endblock %}